* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #41e2ba;
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.working {
  background: #ef5d50;
}

.hidden {
  display: none;
}

.pomodoro {
  background: #fff;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0, .5);
}

.pomodoro h2 {
  font-size: 24px;
  text-align: center;
}
.pomodoro .timer {
  font-size: 4rem;
  text-align: center;
}

.pomodoro .controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pomodoro button {
  background: #41e2ba;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 3vw;
  color: #000;
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
  font-size: 22px;
  width: 170px;
  height: 50px;


}

.pomodoro button:hover {
  background: #0ecc9c;
}

.pomodoro .details {
  margin: 20px 0;
}

.working .pomodoro button {
  background: #ef5d50;
  color: #fff
}

.working .pomodoro button:hover {
  background: #f1776c;
  color: #fff
}

.pause-message{
  color: green;
  height: 3vh;
}